*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

button,
input {
    font: inherit;
}

img {
    max-width: 100%;
}

body {
    min-height: 100vh;
}

ul {
    padding: 0;
    list-style: none;
}